{% assign buildTimestamp = site.time | date: "%s" | round %}
{% for event in site.events %}
    {% assign eventTimestamp = event.date | date: "%s" %}
    {% assign eventTimestampPlusOneDay = eventTimestamp + 86400 | round %}
    {% if eventTimestampPlusOneDay > buildTimestamp %}
        <h1>{% if eventTimestamp > buildTimestamp - 14400 and eventTimestamp < buildTimestamp + 86400 %}Heute:{% else %}Demnächst:{% endif %} <a href="{{ event.url }}">{{ event.title }}</a></h1>
        <span class="bold">am {{ event.date | date: "%d.%m.%Y"}}</span>
        {{ event.excerpt }}
    {% break %}
    {% endif %}
{% endfor %}
