.vert-cent {
    vertical-align: middle;
}

.text-l {
    font-size: xx-large;
}
.text-m {
    font-size: larger;
}
.bold {
    font-weight: bold;
}

.lh-small {
    line-height: 0.5rem;
}

.text-right {
    text-align: right;
}